<h1 style="
    text-align: center;
    color: rebeccapurple;
">Hoorah! You made it to the home page!</h1>

<%= link_to 'Articles listing', articles_path %> |
<%= link_to 'About page', about_path %> 
